<div class="container-fluid">
  <div class="mt-3">
    <div class="row" *ngIf="user">
      <div class="col-md-3">
        <div class="card">
          <span class="border border"></span>
          <img [src]="user.photo" alt="" class="rounded-circle img-fluid" />
          <img *ngIf="this.user.user == Paciente" [src]="user.photo2" alt="" class="rounded-circle img-fluid img-photo-secondary" />
          <div class="card-body">
            <h4 class="card-title">{{ user.name }} {{ user.surname }}</h4>
            <p class="card-text">{{ user.age }} años</p>
          </div>
        </div>
      </div>
      <div class="col-md-8 align-self-center">
        <div class="card">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                Usuario: {{ user.user }}
              </li>
              <li *ngIf="this.user.user == 'Especialista'" class="list-group-item">
                Especialista en: {{ user.especialidad }}
              </li>
              <li *ngIf="this.user.user == 'Paciente'" class="list-group-item">
                Obra Social: {{ user.obra_social }}
              </li>
              <li class="list-group-item">DNI: {{ user.dni }}</li>
              <li class="list-group-item">Email: {{ user.email }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
