<div class="body" id="body">
  <div class="container">
    <h1 style="text-align: center">Listado Usuarios</h1>

    <div class="div-buttons">
      <button
        *ngIf="this.kyndUser != 'PACIENTE'"
        class="btn btn-user btn-primary mt-2 mb-2"
        (click)="getUsers('PACIENTE')"
      >
        Pacientes
      </button>
      <button
        *ngIf="this.kyndUser != 'ESPECIALISTA'"
        class="btn btn-user btn-primary mt-2 mb-2"
        (click)="getUsers('ESPECIALISTA')"
      >
        Especialistas
      </button>
      <button
        *ngIf="this.kyndUser != 'ADMINISTRADOR'"
        class="btn btn-user btn-primary mt-2 mb-2"
        (click)="getUsers('ADMINISTRADOR')"
      >
        Administradores
      </button>
      <button
        *ngIf="this.kyndUser == 'ADMINISTRADOR'"
        class="btn btn-user-add btn-success mt-2 mb-2"
        routerLink="/admin/add"
      >
        Agregar
      </button>
    </div>

    <div *ngIf="this.kyndUser == 'ADMINISTRADOR'">
      <table class="table table-dark mydatatable" style="text-align: left">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>DNI</th>
            <th>Email</th>
            <th>Foto</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody class="tbodyFilm">
          <tr *ngFor="let user of this.list$ | async">
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.dni }}</td>
            <td>{{ user.email }}</td>
            <td><img src="{{ user.photo }}" class="img-principal-photo" /></td>
            <td>{{ user.user }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="this.kyndUser == 'ESPECIALISTA'">
      <table class="table table-dark mydatatable" style="text-align: left">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>DNI</th>
            <th>Email</th>
            <th>Foto</th>
            <th>Especialidad</th>
            <th>Tipo</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody class="tbodyFilm">
          <tr *ngFor="let user of this.list$ | async">
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.dni }}</td>
            <td>{{ user.email }}</td>
            <td><img src="{{ user.photo }}" class="img-principal-photo" /></td>
            <td>
              <span *ngFor="let esp of user.especialidad">
                {{ esp.name }}
              </span>
            </td>
            <td>{{ user.user }}</td>
            <td>
              <button
                *ngIf="user.status"
                class="btn btn-danger"
                (click)="setStatus(user)"
              >
                Desabilitar
              </button>
              <button
                *ngIf="!user.status"
                class="btn btn-success"
                (click)="setStatus(user)"
              >
                Habilitar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="this.kyndUser == 'PACIENTE'">
      <table class="table table-dark mydatatable" style="text-align: left">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>DNI</th>
            <th>Email</th>
            <th>Foto Principal</th>
            <th>Foto Secundaria</th>
            <th>Obra Social</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody class="tbodyFilm">
          <tr *ngFor="let user of this.list$ | async">
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.dni }}</td>
            <td>{{ user.email }}</td>
            <td><img src="{{ user.photo }}" class="img-principal-photo" /></td>
            <td><img src="{{ user.photo2 }}" class="img-principal-photo" /></td>
            <td>{{ user.obra_social }}</td>
            <td>{{ user.user }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
