<div class="container p-4 text-center row mx-auto card text-center">
  <button class="btn btn-danger" id="btn-back" (click)="onBack()">X</button>
  <div class="container-select-esp">
    <div *ngIf="this.listEspecialistas$ | async">
      <form [formGroup]="formFilter" (ngSubmit)="onFilter()">
        <input
          type="text"
          formControlName="filter"
          class="form-control filter"
          placeholder="Buscar.."
        />
      </form>

      <button
        id="btn-filter"
        class="btn btn-primary btn-lg btn-block"
        type="submit"
        class="btn btn-primary btn-block"
        style="cursor: pointer"
        (click)="onFilter()"
      >
        Buscar
      </button>
      <div style="max-height: 55rem; overflow: scroll">
        <table id="table-especialistas" class="table table-dark mydatatable">
          <thead>
            <tr>
              <th>Especialista</th>
              <th>Especialidad</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let esp of this.filterEspecialistas">
              <td>{{ esp.name }} {{ esp.surname }}</td>
              <td>{{ esp.especialidad.name }}</td>
              <td>
                <button
                  id="button-add-esp-{{ esp.id }}"
                  class="btn btn-primary mt-2 mb-2"
                  (click)="clickEspecialista(esp, esp.especialidad)"
                >
                  Seleccionar
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <table
          id="table-pacientes"
          style="display: none"
          class="table table-dark mydatatable"
          *ngIf="this.filterPacientes"
        >
          <thead>
            <tr>
              <th>Paciente</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paciente of this.filterPacientes">
              <td>{{ paciente.name }} {{ paciente.surname }}</td>
              <td>
                <button
                  id="button-add-pac-{{ paciente.id }}"
                  class="btn btn-primary mt-2 mb-2"
                  (click)="clickPaciente(paciente)"
                >
                  Seleccionar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card-header">
    <h3>Solicitar Turno</h3>

    <!-- Mostrar Especialistas y Especialidades -->

    <!-- TURNO -->
    <form [formGroup]="formTurno" (ngSubmit)="onAdd()">
      <input
        *ngIf="!this.especialista"
        type="text"
        class="form-control"
        placeholder="Seleccione Especialista.."
        disabled
      />

      <input
        *ngIf="this.especialista"
        type="text"
        class="form-control"
        placeholder="Horarios de Atención: {{
          this.especialista.schedule.start
        }}hs a {{ this.especialista.schedule.end }}hs"
        disabled
      />

      <input
        *ngIf="
          (this.user$ | async) &&
          this.user$[0]?.user == 'ADMINISTRADOR' &&
          !this.paciente
        "
        type="text"
        class="form-control"
        placeholder="Seleccione Paciente.."
        disabled
      />

      <input
        *ngIf="this.paciente"
        type="text"
        class="form-control"
        placeholder="{{ this.paciente.surname }}, {{ this.paciente.name }}"
        disabled
      />

      <input
        type="number"
        class="form-control"
        id="day"
        placeholder="Ingrese Dia.."
        formControlName="day"
      />
      <div *ngFor="let error of errorMessages.day">
        <ng-container
          *ngIf="day?.hasError(error.type) && (day.dirty || day.touched)"
        >
          <small class="error-message">{{ error.message }}</small>
        </ng-container>
      </div>

      <input
        type="text"
        class="form-control"
        id="time"
        placeholder="Ingrese Hora.."
        formControlName="time"
      />
      <div *ngFor="let error of errorMessages.time">
        <ng-container
          *ngIf="time?.hasError(error.type) && (time.dirty || time.touched)"
        >
          <small class="error-message">{{ error.message }}</small>
        </ng-container>
      </div>

      <div *ngIf="!especialista && this.time.value && this.day.value">
        <small class="error-message"
          >Recuerde seleccionar un Especialista</small
        >
      </div>

      <div
        *ngIf="
          !paciente &&
          especialista &&
          this.time.value &&
          this.day.value &&
          (this.user$ | async) &&
          this.user$[0]?.user == 'ADMINISTRADOR'
        "
      >
        <small class="error-message">Recuerde seleccionar un Paciente</small>
      </div>
    </form>

    <div class="form-group">
      <button
        id="btn-add"
        class="btn btn-primary btn-lg btn-block"
        type="submit"
        class="btn btn-primary btn-block"
        style="cursor: pointer"
        (click)="onAdd()"
        [disabled]="
          formTurno.invalid ||
          (!paciente &&
            (this.user$ | async) &&
            this.user$[0]?.user == 'ADMINISTRADOR')
        "
      >
        Solicitar
      </button>
    </div>
  </div>
</div>
