<div class="container" *ngIf="user$ | async as user">
  <h1 style="text-align: center">Añadir Turno</h1>
  <div class="container-action">
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-3">
        <div class="card" (click)="this.getEspecialistas()">
          <img
            class="img-action"
            src="https://www.latercera.com/resizer/ymjqWEY10Uj81Y9qwiFF6195Zxw=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/WAGFWH6YPRBGVPWQ2QFNXWJ7CU.jpg"
          />
          <div class="card-inner">
            <div class="header">
              <span class="span-action">Especialistas</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-3">
        <div class="card" (click)="this.getEspecialidades()">
          <img
            class="img-action"
            src="https://st2.depositphotos.com/1663905/10093/v/950/depositphotos_100937090-stock-illustration-medical-specialties-icons-set-1.jpg"
          />
          <div class="card-inner">
            <div class="header">
              <span class="span-action">Especialidad</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <span class="span-info" *ngIf="!scheduleSelected"
        >Seleccione Alternativa</span
      >
    </div>
  </div>

  <div
    class="container"
    *ngIf="
      (especialistaSelected == null || especialidadSelected == null) && list$
        | async as list
    "
  >
    <div class="row">
      <div
        class="container-esp"
        *ngFor="let esp of list"
        (click)="selectEsp(esp)"
      >
        <img class="img-esp" src="{{ esp.photo }}" />
        <div class="card-inner">
          <div class="header">{{ esp.name | slice: 0:11 }}</div>
          <div class="header">{{ esp.surname | slice: 0:11 }}</div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="container"
    *ngIf="especialistaSelected && especialidadSelected && !dateSelected"
  >
    <div class="row">
      <div
        id="container-date"
        class="container-esp"
        *ngFor="let date of listDate"
      >
        <div class="card-inner" (click)="selectDate(date)">
          <div class="header header-title">Fecha</div>
          <div class="header">{{ date | date: "dd/MM/yy" }}</div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="container"
    *ngIf="
      especialistaSelected &&
      especialidadSelected &&
      dateSelected &&
      !scheduleSelected
    "
  >
    <div class="row">
      <div
        id="container-schedule"
        class="container-esp"
        *ngFor="let sch of this.listSchedule"
      >
        <div
          class="card-inner"
          *ngIf="user[0].user == 'PACIENTE'"
          (click)="selectSchedule(sch, user[0])"
        >
          <div class="header header-title">Fecha</div>
          <div class="header">{{ dateSelected | date: "dd/MM/yy" }}</div>
          <div class="header header-title">Horario</div>
          <div class="header">{{ sch | date: "HH:mm" }}</div>
        </div>
        <div
          class="card-inner"
          *ngIf="user[0].user != 'PACIENTE'"
          (click)="selectSchedule(sch, null)"
        >
          <div class="header header-title">Fecha</div>
          <div class="header">{{ dateSelected | date: "dd/MM/yy" }}</div>
          <div class="header header-title">Horario</div>
          <div class="header">{{ sch | date: "HH:mm" }}</div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="container"
    *ngIf="scheduleSelected && !pacienteSelected && list$ | async as list"
  >
    <div class="row">
      <div class="container-esp" *ngFor="let pac of list">
        <div class="card-inner" (click)="selectPaciente(pac)">
          <img class="img-esp" src="{{ pac.photo }}" />
          <div class="header">{{ pac.name | slice: 0:11 }}</div>
          <div class="header">{{ pac.surname | slice: 0:11 }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
