<div class="body" id="body" *ngIf="this.list$ | async">
  <div class="container" *ngIf="this.list">
    <div
      *ngIf="!this.turno"
      style="min-width: 70rem; max-height: 56.6rem; overflow: scroll"
    >
      <h1 style="text-align: center">Comentarios</h1>
      <div class="container-select-esp">
        <table class="table table-dark mydatatable" style="text-align: left">
          <thead>
            <tr>
              <th>Paciente</th>
              <th>Comentario</th>
              <th>Especialista</th>
              <th>Comentario</th>
              <th>Especialidad</th>
              <th>Calificación</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody class="tbodyFilm">
            <tr *ngFor="let turno of this.list">
              <td>{{ turno.paciente.surname }}, {{ turno.paciente.name }}</td>
              <td>{{ turno.commentPaciente }}</td>
              <td>
                {{ turno.especialista.surname }},
                {{ turno.especialista.name }}
              </td>
              <td>{{ turno.commentEspecialista }}</td>
              <td>{{ turno.especialista.especialidad.name }}</td>
              <td *ngIf="turno.qualify">{{ turno.qualify[0].atention }}</td>
              <td *ngIf="!turno.qualify">-</td>
              <td>{{ turno.time_updated | date: "dd/MM/yyyy" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="this.turno">
      <h1 *ngIf="this.turno" style="text-align: center">
        Comentarios a {{ this.turno[0].especialista.surname }},
        {{ this.turno[0].especialista.name }}
      </h1>

      <div
        class="container-select-esp"
        *ngIf="!this.list[0]"
        style="text-align: center"
        id="no-comments"
      >
        El especialista no tiene comentarios hasta la fecha
      </div>
      <div class="container-select-esp">
        <table class="table table-dark mydatatable" style="text-align: left">
          <thead>
            <tr>
              <th>Paciente</th>
              <th>Comentario</th>
              <th>Encuesta</th>
              <th>Calificación</th>
            </tr>
          </thead>
          <tbody class="tbodyFilm">
            <tr *ngFor="let comment of this.list">
              <td>
                {{ comment.paciente.surname }}, {{ comment.paciente.name }}
              </td>
              <td>{{ comment.comment }}</td>
              <td>{{ comment.qualify }}</td>
              <td>{{ comment.survey }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
