#btn-user {
  margin-left: 1.46rem;
}

#btn-register {
  margin-left: 0.8rem;
}

.img-principal-photo {
  width: 7rem;
  height: 5rem;
}

.btn-select-esp {
  width: 39rem;
  height: 20.5rem;
  margin-left: 1%;
  right: 1rem;
}

.filter {
  width: 42%;
}

#btn-filter {
  width: 4.9rem;
  position: absolute;
  top: 0.8rem;
  right: 16rem;
}

.container-select-esp {
  width: 39rem;
  height: 20.5rem;
  margin-left: 1%;
  right: 1rem;
  position: absolute;
}

.container-img-especialista {
  width: 39rem;
  height: 43rem;
  margin: 0%;
  position: absolute;
  right: 1rem;
}

.container-img-admin {
  width: 39rem;
  height: 34.3rem;
  margin: 0%;
  position: absolute;
  right: 1rem;
}

select {
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 250px;
}

input,
select {
  margin: 0.8rem;
}

small {
  color: red;
}

select {
  cursor: pointer;
}

.card-header {
  left: 50;
  position: relative;
  width: 40%;
  background-color: whitesmoke;
}

#input-photo {
  left: 0.8rem;
}
