<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Login</h3>
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="card-body">
              <div class="form-group">
                <img
                  src="/assets/img/login.png"
                  class="card-img-top mx-auto m-2"
                />
                <input
                  type="text"
                  name="email"
                  placeholder="Enter Email.."
                  class="form-control"
                  formControlName="email"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  name="password"
                  placeholder="Enter Password.."
                  class="form-control"
                  formControlName="password"
                  required
                />
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-lg btn-block">Login</button>
              </div>
              <div class="form-group mt-3">
                <p>
                  Create an account
                  <a routerLink="/user/register" routerLinkActive="active"
                    >Register</a
                  >
                </p>
                <button (click)="quickLog('Especialista')" id="btn-quicklog" class="btn btn-success">Especialista</button>
                <button (click)="quickLog('Administrador')" id="btn-quicklog" class="btn btn-danger">Admin</button>
                <button (click)="quickLog('Paciente')" id="btn-quicklog" class="btn btn-warning">Paciente</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
