.container-register {
  top: auto;
  width: 26rem;
  height: auto;
  position: absolute;
  right: auto;
  left: auto;
}

.container-content {
  top: auto;
  position: relative;
  left: 50%;
  width: 50%;
  background-color: whitesmoke;
}

.form-control {
  margin-bottom: 0.5rem;
}

.container{
  min-height: 50rem;
  width: 58rem;
}

small {
  color: red;
}

.div-buttons{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin: 0.5rem;
}

.container-img{
  width: 27.5rem;
  height: 20.4rem;
}