<div class="container p-4 text-center row mx-auto card text-center">
  <div class="container-content">
    <div style="max-height: 55rem; overflow: scroll">

      <app-especialidad-list
        *ngIf="kyndUser == 'Especialista'"
        (listSelected)="onSelect($event)"
        
      >
        ></app-especialidad-list
      >
    </div>

    <img
      class="container-img"
      src="/assets/img/admin-register.png"
      *ngIf="kyndUser == 'Administrador'"
    />
    <img
      class="container-img"
      src="/assets/img/paciente-register.png"
      *ngIf="kyndUser == 'Paciente'"
    />
    <img
      class="container-img"
      src="/assets/img/admin-register.png"
      *ngIf="kyndUser == 'Administrador'"
    />
    <img
      class="container-img"
      src="/assets/img/paciente-register.png"
      *ngIf="kyndUser == 'Paciente'"
    />
  </div>

  <div class="card-header container-register">
    <h3>
      {{ "Registro" | translate }} {{ "de" | translate }}
      {{ this.kyndUser | translate }}
    </h3>

    <div class="div-buttons">
      <button
        id="btn-user-paciente"
        class="btn btn-warning mt-2 mb-2"
        (click)="setUser('Paciente')"
      >
        {{ "Paciente" | translate }}
      </button>
      <button
        id="btn-user-especialista"
        class="btn btn-warning mt-2 mb-2"
        (click)="setUser('Especialista')"
      >
        {{ "Especialista" | translate }}
      </button>
    </div>

    <div [ngSwitch]="this.kyndUser">
      <!-- ADMIN -->
      <div *ngSwitchCase="'Administrador'">
        <form [formGroup]="formAdmin" (ngSubmit)="onRegister()">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="{{ 'Ingrese' | translate }} {{
              'Nombre' | translate
            }}.."
            formControlName="name"
          />
          <small
            class="invalid"
            *ngIf="
              formAdmin.controls.name.errors?.required &&
              formAdmin.controls.name.touched
            "
          >
            {{ "Ingrese" | translate }} {{ "Nombre" | translate }}
          </small>

          <input
            type="text"
            class="form-control"
            id="surname"
            placeholder="{{ 'Ingrese' | translate }} {{
              'Apellido' | translate
            }}.."
            formControlName="surname"
          />
          <div *ngFor="let error of errorMessages.surname">
            <ng-container
              *ngIf="
                surname.hasError(error.type) &&
                (surname.dirty || surname.touched)
              "
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>

          <input
            type="number"
            class="form-control"
            id="age"
            placeholder="{{ 'Ingrese' | translate }} {{ 'Edad' | translate }}.."
            formControlName="age"
          />
          <div *ngFor="let error of errorMessages.age">
            <ng-container
              *ngIf="age.hasError(error.type) && (age.dirty || age.touched)"
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>

          <input
            type="number"
            class="form-control"
            id="dni"
            placeholder="{{ 'Ingrese' | translate }} DNI.."
            formControlName="dni"
          />
          <div *ngFor="let error of errorMessages.dni">
            <ng-container
              *ngIf="dni.hasError(error.type) && (dni.dirty || dni.touched)"
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>

          <div class="input-group mb-3" id="input-photo">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">{{
                "Foto" | translate
              }}</span>
            </div>
            <div class="custom-file">
              <input
                type="file"
                (change)="onUpload($event, 1)"
                class="custom-file-input"
                aria-describedby="inputGroupFileAddon01"
              />
              <label class="custom-file-label" for="inputGroupFile01">
                {{ "Foto" | translate }} {{ "Perfil" | translate }}</label
              >
            </div>
          </div>

          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="{{ 'Ingrese' | translate }} {{
              'Correo' | translate
            }}.."
            formControlName="email"
          />
          <div *ngFor="let error of errorMessages.email">
            <ng-container
              *ngIf="
                email.hasError(error.type) && (email.dirty || email.touched)
              "
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>

          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="{{ 'Ingrese' | translate }} {{
              'Contraseña' | translate
            }}.."
            formControlName="password"
          />
          <div *ngFor="let error of errorMessages.password">
            <ng-container
              *ngIf="
                password.hasError(error.type) &&
                (password.dirty || password.touched)
              "
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>
        </form>
      </div>

      <!-- ESPECIALISTA -->
      <div *ngSwitchCase="'Especialista'">
        <form [formGroup]="formEspecialista" (ngSubmit)="onRegister()">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="{{ 'Ingrese' | translate }} {{
              'Nombre' | translate
            }}.."
            formControlName="name"
          />
          <div *ngFor="let error of errorMessages.name">
            <ng-container
              *ngIf="name.hasError(error.type) && (name.dirty || name.touched)"
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>

          <input
            type="text"
            class="form-control"
            id="surname"
            placeholder="{{ 'Ingrese' | translate }} {{
              'Surname' | translate
            }}.."
            formControlName="surname"
          />
          <div *ngFor="let error of errorMessages.surname">
            <ng-container
              *ngIf="
                surname.hasError(error.type) &&
                (surname.dirty || surname.touched)
              "
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>

          <input
            type="number"
            class="form-control"
            id="age"
            placeholder="{{ 'Ingrese' | translate }} {{ 'Edad' | translate }}.."
            formControlName="age"
          />
          <div *ngFor="let error of errorMessages.age">
            <ng-container
              *ngIf="age.hasError(error.type) && (age.dirty || age.touched)"
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>

          <input
            type="number"
            class="form-control"
            id="dni"
            placeholder="{{ 'Ingrese' | translate }} DNI.."
            formControlName="dni"
          />
          <div *ngFor="let error of errorMessages.dni">
            <ng-container
              *ngIf="dni.hasError(error.type) && (dni.dirty || dni.touched)"
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>

          <div class="input-group mb-3" id="input-photo">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">{{
                "Foto" | translate
              }}</span>
            </div>
            <div class="custom-file">
              <input
                type="file"
                (change)="onUpload($event, 1)"
                class="custom-file-input"
                aria-describedby="inputGroupFileAddon01"
              />
              <label class="custom-file-label" for="inputGroupFile01">
                {{ "Foto" | translate }} {{ "Perfil" | translate }}</label
              >
            </div>
          </div>

          <small *ngIf="!this.especialidadSelected" class="error-message"
            >Recuerde seleccionar una o más especialidades</small
          >

          <input
            type="text"
            class="form-control"
            id="schedule"
            placeholder="{{ 'Ingrese' | translate }} {{
              'Disponibilidad' | translate
            }}.."
            formControlName="schedule"
          />
          <div *ngFor="let error of errorMessages.schedule">
            <ng-container
              *ngIf="
                schedule.hasError(error.type) &&
                (schedule.dirty || schedule.touched)
              "
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>

          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Ingrese Correo.."
            formControlName="email"
          />
          <div *ngFor="let error of errorMessages.email">
            <ng-container
              *ngIf="
                email.hasError(error.type) && (email.dirty || email.touched)
              "
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="{{ 'Ingrese' | translate }} {{
              'Contraseña' | translate
            }}.."
            formControlName="password"
          />
          <div *ngFor="let error of errorMessages.password">
            <ng-container
              *ngIf="
                password.hasError(error.type) &&
                (password.dirty || password.touched)
              "
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>
        </form>
      </div>

      <!-- PACIENTE -->
      <div *ngSwitchCase="'Paciente'">
        <form [formGroup]="formPaciente" (ngSubmit)="onRegister()">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="{{ 'Ingrese' | translate }} {{
              'Nombre' | translate
            }}.."
            formControlName="name"
          />
          <div *ngFor="let error of errorMessages.name">
            <ng-container
              *ngIf="name.hasError(error.type) && (name.dirty || name.touched)"
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>

          <input
            type="text"
            class="form-control"
            id="surname"
            placeholder="{{ 'Ingrese' | translate }} {{
              'Apellido' | translate
            }}.."
            formControlName="surname"
          />
          <div *ngFor="let error of errorMessages.surname">
            <ng-container
              *ngIf="
                surname.hasError(error.type) &&
                (surname.dirty || surname.touched)
              "
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>

          <input
            type="number"
            class="form-control"
            id="age"
            placeholder="{{ 'Ingrese' | translate }} {{ 'Edad' | translate }}.."
            formControlName="age"
          />
          <div *ngFor="let error of errorMessages.age">
            <ng-container
              *ngIf="age.hasError(error.type) && (age.dirty || age.touched)"
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>

          <input
            type="number"
            class="form-control"
            id="dni"
            placeholder="{{ 'Ingrese' | translate }} DNI.."
            formControlName="dni"
          />
          <div *ngFor="let error of errorMessages.dni">
            <ng-container
              *ngIf="dni.hasError(error.type) && (dni.dirty || dni.touched)"
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>

          <div class="input-group mb-3" id="input-photo">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">{{
                "Foto" | translate
              }}</span>
            </div>
            <div class="custom-file">
              <input
                type="file"
                (change)="onUpload($event, 1)"
                class="custom-file-input"
                aria-describedby="inputGroupFileAddon01"
              />
              <label class="custom-file-label" for="inputGroupFile01">
                {{ "Foto" | translate }} {{ "Principal" | translate }}</label
              >
            </div>
          </div>

          <div class="input-group mb-3" id="input-photo">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupFileAddon01">{{
                "Foto" | translate
              }}</span>
            </div>
            <div class="custom-file">
              <input
                type="file"
                (change)="onUpload($event, 2)"
                class="custom-file-input"
                aria-describedby="inputGroupFileAddon01"
              />
              <label class="custom-file-label" for="inputGroupFile01"
                >{{ "Foto" | translate }} {{ "Secundaria" | translate }}</label
              >
            </div>
          </div>

          <input
            type="text"
            class="form-control"
            id="obra_social"
            placeholder="{{ 'Ingrese' | translate }} {{
              'Obra social' | translate
            }}.."
            formControlName="obra_social"
          />
          <div *ngFor="let error of errorMessages.obra_social">
            <ng-container
              *ngIf="
                obra_social.hasError(error.type) &&
                (obra_social.dirty || obra_social.touched)
              "
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>

          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="{{ 'Ingrese' | translate }} {{
              'Correo' | translate
            }}.."
            formControlName="email"
          />
          <div *ngFor="let error of errorMessages.email">
            <ng-container
              *ngIf="
                email.hasError(error.type) && (email.dirty || email.touched)
              "
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>

          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="{{ 'Ingrese' | translate }} {{
              'Contraseña' | translate
            }}.."
            formControlName="password"
          />
          <div *ngFor="let error of errorMessages.password">
            <ng-container
              *ngIf="
                password.hasError(error.type) &&
                (password.dirty || password.touched)
              "
            >
              <small class="error-message">{{ error.message }}</small>
            </ng-container>
          </div>
        </form>
      </div>

      <div class="form-group">
        <app-captcha (status)="onCaptcha($event)"></app-captcha>
      </div>

      <div class="form-group">
        <button
          id="btn-register"
          type="submit"
          class="btn btn-primary btn-block"
          style="cursor: pointer"
          (click)="onRegister()"
          [disabled]="
            this.captcha == false ||
            (formAdmin.invalid && this.kyndUser == 'Administrador') ||
            (formPaciente.invalid && this.kyndUser == 'Paciente') ||
            (this.kyndUser == 'Especialista' && !this.especialidadSelected) ||
            (formEspecialista.invalid && this.kyndUser == 'Especialista') ||
            (this.photo2 == null && this.kyndUser == 'Paciente') ||
            this.photo == null
          "
        >
          {{ "Registrarse" | translate }}
        </button>
      </div>

      <div *ngIf="!isAdmin" class="form-group mt-3">
        <p>
          {{ "¿Ya tienes una cuenta?" | translate }}
          <a routerLink="/user/login" routerLinkActive="active">{{
            "Ingresar" | translate
          }}</a>
        </p>
      </div>
    </div>
  </div>
</div>
