<div
  class="container p-4 text-center row mx-auto card text-center"
  *ngIf="this.flagQualify"
>
  <div class="card-header">
    <h3>Calificación de Atención</h3>

    <form [formGroup]="formQualify" (ngSubmit)="onAdd()">
      <input
        type="number"
        class="form-control"
        id="qualification"
        placeholder="Ingrese Número.."
        formControlName="qualification"
      />
      <div *ngFor="let error of errorMessages.qualification">
        <ng-container
          *ngIf="
            qualification.hasError(error.type) &&
            (qualification.dirty || qualification.touched)
          "
        >
          <small class="error-message">{{ error.message }}</small>
        </ng-container>
      </div>
    </form>
  </div>
  <div class="form-group">
    <button
      id="btn-acept"
      class="btn btn-danger btn-lg btn-block"
      type="submit"
      class="btn btn-danger btn-block"
      style="cursor: pointer"
      (click)="onAdd()"
      [disabled]="formQualify.invalid"
    >
      Aceptar
    </button>
    <button
      id="btn-cancel"
      class="btn btn-primary btn-lg btn-block"
      type="submit"
      class="btn btn-primary btn-block"
      style="cursor: pointer"
      (click)="onBack()"
    >
      Cancelar
    </button>
  </div>
</div>
<div
  class="container p-4 text-center row mx-auto card text-center"
  *ngIf="!this.flagQualify"
>
  <div class="card-header">
    <h3>Calificación de Atención</h3>
    Usted ya ingresó Puntuación!
  </div>
</div>
