<nav
  class="navbar navbar-expand-lg navbar-light bg-light"
  *ngIf="this.user | async as user"
>
  <div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">{{
        "Inicio" | translate
      }}</a>

      <a class="navbar-brand disabled"> {{ user.email }}</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <ul *ngIf="this.user; else login">
            <ul class="navbar-nav ml-auto">
              <a
                class="navbar-brand"
                routerLink="/user/profile"
                routerLinkActive="active"
              >
                <i class="fa config-justify"></i> {{ "Perfil" | translate }}</a
              >
              <a
                class="navbar-brand"
                routerLink="/user/logout"
                routerLinkActive="active"
                ><i></i> | {{ "Cerrar sesión" | translate }}</a
              >
            </ul>
          </ul>
        </ul>

      </div>
    </div>
  </div>
</nav>
