<div class="body" id="body">
  <div class="container" *ngIf="this.user">
    <h1 style="text-align: center">Mis Turnos</h1>

    <div *ngIf="this.listTurnos" class="container-list">
      <form [formGroup]="formFilter" (ngSubmit)="onFilter()">
        <input
          type="text"
          formControlName="filter"
          class="form-control filter"
          placeholder="Filtrar.."
        />
      </form>

      <button
        id="btn-filter"
        class="btn btn-primary btn-lg btn-block"
        type="submit"
        class="btn btn-primary btn-block"
        style="cursor: pointer"
        (click)="onFilter()"
      >
        Buscar
      </button>
      <button
        id="btn-add"
        (click)="clean()"
        class="btn btn-user btn-primary mt-2 mb-2"
        routerLink="/turno/add"
      >
        Agregar
      </button>
    </div>
    <div class="container-select-esp">

      <table class="table table-dark mydatatable" style="text-align: left">
        <thead>
          <tr>
            <th>Especialista</th>
            <th>Especialidad</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Comentario Paciente</th>
            <th>Comentario Especialista</th>
            <th>Encuesta</th>
          </tr>
        </thead>
        <tbody class="tbodyFilm">
          <tr *ngFor="let turno of this.filterTurnos">
            <td>
              {{ turno.especialista.surname }}, {{ turno.especialista.name }}
            </td>
            <td>{{ turno.especialidad }}</td>
            <td>{{ turno.date }}</td>
            <td>{{ turno.status }}</td>
            <td>{{ turno.commentPaciente }}</td>
            <td>{{ turno.commentEspecialista }}</td>
            <td>{{ turno.encuesta }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="this.user.user == 'Especialista'">
      <table class="table table-dark mydatatable" style="text-align: left">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>DNI</th>
            <th>Email</th>
            <th>Foto</th>
            <th>Especialidad</th>
            <th>Tipo</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody class="tbodyFilm">
          <tr *ngFor="let user of this.listEspecialistas">
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.dni }}</td>
            <td>{{ user.email }}</td>
            <td><img src="{{ user.photo }}" class="img-principal-photo" /></td>
            <td>{{ user.especialidad }}</td>
            <td>{{ user.user }}</td>
            <td>
              <button
                *ngIf="user.status"
                class="btn btn-danger"
                (click)="setStatus(user)"
              >
                Desabilitar
              </button>
              <button
                *ngIf="!user.status"
                class="btn btn-success"
                (click)="setStatus(user)"
              >
                Habilitar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="this.user.user == 'Administrador'">
      <table class="table table-dark mydatatable" style="text-align: left">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>DNI</th>
            <th>Email</th>
            <th>Foto Principal</th>
            <th>Foto Secundaria</th>
            <th>Obra Social</th>
            <th>Tipo</th>
          </tr>
        </thead>
        <tbody class="tbodyFilm">
          <tr *ngFor="let user of this.listPacientes">
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.dni }}</td>
            <td>{{ user.email }}</td>
            <td><img src="{{ user.photo }}" class="img-principal-photo" /></td>
            <td><img src="{{ user.photo2 }}" class="img-principal-photo" /></td>
            <td>{{ user.obra_social }}</td>
            <td>{{ user.user }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
