.container-select-esp {
  width: 100%;
}

#btn-filter {
  margin: 0;
  width: 5.2rem;
  right: 27rem;
  position: absolute;
}

.filter {
  margin: 0;
  width: 12rem;
  right: 33rem;
  position: absolute;
}
