<div class="body" id="body">
  <div class="container" *ngIf="this.user && this.flagComponent == ''">
    <h1 style="text-align: center">Turnos</h1>

    <div class="container-list" *ngIf="this.user.user != 'Especialista'">
      <form [formGroup]="formFilter" (ngSubmit)="onFilter()">
        <input
          type="text"
          formControlName="filter"
          class="form-control filter"
          placeholder="Filtrar.."
        />
      </form>

      <button
        id="btn-filter"
        class="btn btn-primary btn-lg btn-block"
        type="submit"
        class="btn btn-primary btn-block"
        style="cursor: pointer"
        (click)="onFilter()"
      >
        Buscar
      </button>
      <button
        id="btn-add"
        (click)="clean()"
        class="btn btn-user btn-primary mt-2 mb-2"
        routerLink="/turno/add"
      >
        Agregar
      </button>
    </div>
    <div class="container-select-esp" *ngIf="this.user.user == 'Paciente' || this.user.user == 'Administrador'">
      <table class="table table-dark mydatatable" style="text-align: left">
        <thead>
          <tr>
            <th>Especialista</th>
            <th>Paciente</th>
            <th>Especialidad</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody class="tbodyFilm">
          <tr *ngFor="let turno of this.filterTurnos">
            <td>
              {{ turno.especialista.surname }}, {{ turno.especialista.name }}
            </td>
            <td>
              {{ turno.paciente.surname }}, {{ turno.paciente.name }}
            </td>
            <td>{{ turno.especialidad }}</td>
            <td>{{ turno.date }}</td>
            <td>{{ turno.status }}</td>
            <td
              *ngIf="turno.status == 'Pendiente' || turno.status == 'Aceptado'"
            >
              <button
                class="btn btn-danger btn-block"
                style="cursor: pointer"
                (click)="onCancel(turno)"
              >
                Cancelar
              </button>
              <button
                class="btn btn-warning btn-block"
                style="cursor: pointer"
                (click)="onShowComments(turno)"
              >
                Comentarios
              </button>
            </td>
            <td *ngIf="turno.status == 'Realizado'">
              <button
                class="btn btn-warning btn-block"
                style="cursor: pointer"
                (click)="onSurvey(turno)"
              >
                Encuesta
              </button>
              <button
                class="btn btn-success btn-block"
                style="cursor: pointer"
                (click)="onQualify(turno)"
              >
                Calificar
              </button>
            </td>
            <td
              *ngIf="turno.status == 'Cancelado' || turno.status == 'Rechazado'"
            >
              <button
                class="btn btn-warning btn-block"
                style="cursor: pointer"
                (click)="onShowComments(turno)"
              >
                Comentarios
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- ESPECIALISTA -->

    <div class="container-select-esp" *ngIf="this.user.user == 'Especialista'">
      <table class="table table-dark mydatatable" style="text-align: left">
        <thead>
          <tr>
            <th>Paciente</th>
            <th>Especialidad</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody class="tbodyFilm">
          <tr *ngFor="let turno of this.filterTurnos">
            <td>{{ turno.paciente.surname }}, {{ turno.paciente.name }}</td>
            <td>{{ turno.especialidad }}</td>
            <td>{{ turno.date }}</td>
            <td>{{ turno.status }}</td>
            <td>
              <button
                *ngIf="turno.status == 'Pendiente'"
                class="btn btn-danger btn-block"
                style="cursor: pointer"
                (click)="onCancel(turno)"
              >
                Cancelar
              </button>
              <button
                *ngIf="turno.status == 'Pendiente'"
                class="btn btn-warning btn-block"
                style="cursor: pointer"
                (click)="onReject(turno)"
              >
                Rechazar
              </button>
              <button
                *ngIf="turno.status == 'Pendiente'"
                class="btn btn-warning btn-block"
                style="cursor: pointer"
                (click)="onAcept(turno)"
              >
                Aceptar
              </button>
              <button
                *ngIf="turno.status == 'Cancelado' || turno.status == 'Realizado'"
                class="btn btn-warning btn-block"
                style="cursor: pointer"
                (click)="onShowComment(turno)"
              >
                Comentario
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container" *ngIf="this.flagComponent == 'Cancel'">
    <app-turno-cancel [turno]="[turnoSelected]"></app-turno-cancel>
  </div>
  <div class="container" *ngIf="this.flagComponent == 'Comments'">
    <app-comment-list [turno]="[turnoSelected]"></app-comment-list>
  </div>
  <div class="container" *ngIf="this.flagComponent == 'Comment'">
    <app-comment-single [turno]="[turnoSelected]"></app-comment-single>
  </div>
  <div class="container" *ngIf="this.flagComponent == 'Survey'">
    <app-survey-add [turno]="[turnoSelected]"></app-survey-add>
  </div>
  <div class="container" *ngIf="this.flagComponent == 'Qualify'">
    <app-qualify-add [turno]="[turnoSelected]"></app-qualify-add>
  </div>
</div>
